In [1]:
print("hi")

hi

In [2]:
a = [[10,20,30],['ajinkya','shivaji','pawar']]
a

[[10, 20, 30], ['ajinkya', 'shivaji', 'pawar']]

In [7]:
for i  in a:
    print(i)

[10, 20, 30, 40, 40, 40]
['ajinkya', 'shivaji', 'pawar']

In [15]:
test = ['ajinkya','shivaji','pawar']
for x in test:
    if x == 'shivaji':
        continue
    print(x)

ajinkya
pawar

In [1]:
i = 0 
while i <= 4:
    print(i)
    i+=1

0
1
2
3
4

In [5]:
for x in range(1,9):
    if x == 5:
        break
    print(x)

1
2
3
4

In [6]:
days = ['sunday','monday','tuesday','wednesday']

In [7]:
days[3] = 'thursday'

In [8]:
days

['sunday', 'monday', 'tuesday', 'thursday']

In [9]:
days.insert(3,'wednesday')

In [10]:
days

['sunday', 'monday', 'tuesday', 'wednesday', 'thursday']

In [13]:
for x in range(0,len(days)):
    print(days[x])

sunday
monday
tuesday
wednesday
thursday

In [32]:
for x in range(0,10):
    if (x%2==0 or x%3==0):
        if(x%2 == 0):
            print('divisible by 2',x)
        if(x%3 == 0):
            print('divisible by 3',x)

divisible by 2 0
divisible by 3 0
divisible by 2 2
divisible by 3 3
divisible by 2 4
divisible by 2 6
divisible by 3 6
divisible by 2 8
divisible by 3 9

In [44]:
num = 0
if num > 0:
    print('no greater than 0')
elif num == 0:
    print('no equal to 3.4')
else:
    print('no is less than 0 and 3.4')

no equal to 3.4

In [48]:
num = float(input('PLEASE ENTER UR NO?'))
if num >= 0:
    if num == 0:
        print('no equal to 0')
    else :
        print('no is positive')
else:
    print('no is negitive')

PLEASE ENTER UR NO?1
no is positive

In [47]:
num = 1
print('set') if num > 1 else print('not')

not

In [49]:
pass statement

SyntaxError: invalid syntax (<ipython-input-49-b9bdc83fd54c>, line 1)

In [50]:
a = 33
b = 200

if b > a:
  pass

In [55]:
def ajinkya(a,b):
    print('hi ajinkya age is {} and {}'.format(a,b))
ajinkya(10,20)

hi ajinkya age is 10 and 20

In [62]:
year = int(input("Enter a year: "))  
if (year % 4) == 0:  
   if (year % 100) == 0:  
       if (year % 400) == 0:  
           print("{0} is a leap year".format(year))  
       else:  
           print("{0} is not a leap year".format(year))  
   else:  
       print("{0} is a leap year".format(year))  
else:  
   print("{0} is not a leap year".format(year))

Enter a year: 2000
2000 is a leap year

0

In [71]:
year = 2000
if year%4 == 0 :
    if(year%100==0 or year%400==0):
        if(year%100==0):
            if(year%400==0):
                print('no is leap year')
            else:
                print('is leap year')
    else:
        print('no is leap year')

else:
    print('{} is not a leap year'.format(year))

no is leap year

In [ ]:
num = int(input("Enter a number: "))  
  
if num > 1:  
   for i in range(2,num):  
       if (num % i) == 0:  
           print(num,"is not a prime number")  
           print(i,"times",num//i,"is",num)  
           break  
   else:  
       print(num,"is a prime number")  
         
else:  
   print(num,"is not a prime number")

In [1]:
a = "test",'ram','sada'

In [2]:
type(a)

tuple

In [3]:
b = 10,20,30

In [5]:
b

(10, 20, 30)

In [10]:
zipped = dict(zip(a,b))

In [16]:
for x,y in zipped.items():
    print(x,y)

test 10
ram 20
sada 30

In [33]:
test = [10,20,30]
test2 = ['ajinkya','shivaji','pawar']
test,test2

([10, 20, 30], ['ajinkya', 'shivaji', 'pawar'])

In [37]:
last = list(zip(test,test2))

In [47]:
last100 = list(zip(*last))
last100

[(10, 20, 30), ('ajinkya', 'shivaji', 'pawar')]

In [54]:
for i,x in enumerate(last100):
    print(i,x)

0 10
1 ajinkya

In [55]:
test = {'name':'ajinkya','middlename':'shivaji','surname':'pawar'}
test

{'name': 'ajinkya', 'middlename': 'shivaji', 'surname': 'pawar'}

In [64]:
test = list(zip(test,last100))

In [72]:
tst = [10,20,30]
tst2 = ['ajinkya','shivaji','pawar']
last = set(zip(tst,tst2))

In [82]:
last
for (x,y) in last:
    print(x,y)

20 shivaji
10 ajinkya
30 pawar

In [77]:
test = {'ajinkya',10,20}
for x in test:
    print(x)

ajinkya
10
20

In [85]:
a = [[10,20,30],[40,50,60]]
a[1][1]

50

In [91]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens')]
type(pitchers)

list

In [92]:
first,last = zip(*pitchers)
{first,last}

{('Nolan', 'Roger'), ('Ryan', 'Clemens')}

In [94]:
test = [10,20,30]
test2 = ['ajinkya','shivaji','pawar']
final = list(zip(test,test2))

In [95]:
final

[(10, 'ajinkya'), (20, 'shivaji'), (30, 'pawar')]

In [97]:
pk,sk = zip(*final)

In [100]:
pk[0]

10

In [99]:
sk

('ajinkya', 'shivaji', 'pawar')

In [108]:
for x,y in enumerate(test):
    print(y)

10
20
30

In [112]:
check = {'firstname':'ajinkya','secondname':'shivaji','country':'india'}
check['surname'] = 'pawar'
check[7] = [10,20,30]

In [116]:
check.pop(7)

[10, 20, 30]

In [117]:
check

{'firstname': 'ajinkya',
 'secondname': 'shivaji',
 'country': 'india',
 'surname': 'pawar'}

In [128]:
test = [10,20,30,40,50]
[x for x in test if x%5 == 0]

[10, 20, 30, 40, 50]

In [137]:
[x**2 for x in range(1,10)]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [132]:
10*2

20

In [134]:
test = "strings"
test*4

'stringsstringsstringsstrings'

In [141]:
input_list = [1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 7] 
  
output_set = set()
  
# Using loop for constructing output set 
for var in input_list: 
    if var % 2 == 0: 
        output_set.add(var) 
  
print("Output Set using for loop:", output_set)

Output Set using for loop: {2, 4, 6}

In [145]:
{x for x in input_list if x%2 == 0}

{2, 4, 6}

In [159]:
test = {10,20,30,40}
[x for x in test]

[40, 10, 20, 30]

In [156]:
print('the value of test is',end= '@')
print("the test of value")

the value of test is@the test of value

In [161]:
test = [10,20,30,40]
{x:x*3 for x in test if x == 30}

{30: 90}

In [165]:
state = ['Gujarat', 'Maharashtra', 'Rajasthan'] 
capital = ['Gandhinagar', 'Mumbai', 'Jaipur'] 
{x:y for (x,y) in zip(state,capital) if x == 'Gujarat'}

{'Gujarat': 'Gandhinagar'}

In [164]:
for x in range(0,len(state)):
    print(state[x])

Gujarat
Maharashtra
Rajasthan

In [166]:
learn = [[0, 1, 2, 3, 4],
          [0, 1, 2, 3, 4],
          [0, 1, 2, 3, 4],
          [0, 1, 2, 3, 4],
          [0, 1, 2, 3, 4]]

In [168]:
len(learn)

5

In [171]:
[j for i in learn for j in i]

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

In [172]:
m = 90
b = 60
f = m*b
print(f)

5400

In [176]:
def test(a,b=7):
    print(a*b)
test(5,4)
test(2)

20
14

In [184]:
def cal_work(a,b):
    m=a*b
    return m
print(cal_work(7,8))

56

In [187]:
def check(a,b,c):
    k = cal_work(a,b) + c
    return k
print(check(7,20,3))

143

In [188]:
def love(c,d,e):
    z = cal_work(c,d)+e
    print(z)
love(4,5,6)

26

In [192]:
def test(*x):
   for j in x:
    print(j)
test('sarthak','sandio','rajesh')

sarthak
sandio
rajesh

In [195]:
def my_function(*kids):
  print("The youngest child is " + kids[1])

my_function("Emil", "Tobias", "Linus")

The youngest child is Tobias

In [197]:
test = lambda a :a *5
test(5)

25

In [198]:
zeta  = lambda a,b,c,d : (a+b)*c+d
zeta(10,5,20,30)

330

In [207]:
 force = lambda a,b : a*b
def function(a,b,c):
    trust =  force(a,b)+c
    print(trust)
function(10,20,30)

230

In [215]:
test = []

SyntaxError: invalid syntax (<ipython-input-215-8aba8f624eae>, line 2)

In [216]:
fruites = ('apple', 'banana', 'cherry')

In [217]:
ak = list(map(lambda a:len(a),fruites))

In [218]:
print(ak)

[5, 6, 6]