In [2]:
#if condition
num = int(input('Enter Ur No'))
if(num%2==0):
    print('no is divisible by 2');
else:
    print('no is not divisible by 2');

Enter Ur No13
no is not divisible by 2

In [5]:
num = int(input('Enter Ur No'))
if(num%2==0):
    print('no is divisible by 2');
if(num%3==0 or num %5==0):
    if(num%3==0):
        print('no is divisible by 3');
    if(num%5==0):
        print('no is divisible by 5');
else:
    print('no is not divisible');

Enter Ur No17
no is not divisible

In [7]:
a = int(input("Enter a? "));  
b = int(input("Enter b? "));  
c = int(input("Enter c? "));  
if a>b and a>c:  
    print("a is largest");  
if b>a and b>c:  
    print("b is largest");  
if c>a and c>b:  
    print("c is largest");

Enter a? 12
Enter b? 13
Enter c? 15
c is largest

In [8]:
number = int(input("Enter the number?"))  
if number==10:  
    print("number is equals to 10")  
elif number==50:  
    print("number is equal to 50");  
elif number==100:  
    print("number is equal to 100");  
else:  
    print("number is not equal to 10, 50 or 100");

Enter the number?200
number is not equal to 10, 50 or 100

In [4]:
#sum of of the no program
num1 = 10
num2 =20
print("the sum of the two no is",num1+num2)

the sum of the two no is 30

In [6]:
#comparison to operate
num1 = 20
num2 = 30
print('no is {0} and no of  {1}'.format(num1,num2),num1<num2)

no is 20 and no of  30 True

In [7]:
num1 = 20
y = 30
print('the first no is float {0:.2f} and second no is {1:d}'.format(num1,y))

the first no is float 20.00 and second no is 30

In [35]:
#list is anorder list of collection which is changeable and indexed allowed to enter duplicate values
test  = [10,20,30]
test.append(40)
test.remove(40)
if 30 in test:
    test.remove(30)
test.insert(2,30)
test.insert(1,30)
#for x in range(0,10):
  #  print(x)
everything = []
for x in test:
    everything.extend(x);

TypeError: 'int' object is not iterable

In [38]:
x = [4, None, 'foo', 7, 8, (2, 3)]

In [39]:
x

[4, None, 'foo', 7, 8, (2, 3)]

In [43]:
x[5]=85

In [44]:
x

[4, None, 'foo', 7, 8, 85]

In [48]:
for test in x:
    print(x)

[4, None, 'foo', 7, 8, 85]
[4, None, 'foo', 7, 8, 85]
[4, None, 'foo', 7, 8, 85]
[4, None, 'foo', 7, 8, 85]
[4, None, 'foo', 7, 8, 85]
[4, None, 'foo', 7, 8, 85]

In [49]:
y = []
for chunk in x:
    y.extend(chunk)
    print(y)

TypeError: 'int' object is not iterable

In [54]:
for i, value in enumerate(x):
    i += 1
    print(value)

4
None
foo
7
8
85

In [56]:
i = 0
for test in x:
    i+=1
    print(i)

1
2
3
4
5
6

In [57]:
#enumarte track of values index
for i, value in enumerate(x):
    print(i,value)

0 4
1 None
2 foo
3 7
4 8
5 85

In [62]:
test = {'name':'ajinkya','surname':'Pawar','class':'12th','country':'India'}
test['name']
test.get('surname')
test.pop('class')

'12th'

In [63]:
test

{'name': 'ajinkya', 'surname': 'Pawar', 'country': 'India'}

In [64]:
for x in test:
    print(x)

name
surname
country

In [70]:
for x,y in test.values():
    print(x)

ajinkya
Pawar
India

In [71]:
for x,y in test.items():
    print(x,y)

name ajinkya
surname Pawar
country India

In [84]:
for x  in test:
    print(test[x])

ajinkya
Pawar
India

In [86]:
for x,y in test.items():
    print(x,y)

name ajinkya
surname Pawar
country India

In [87]:
for x in test.values():
    print(x)

ajinkya
Pawar
India

In [112]:
for i,x in enumerate(test.values()):
    print(i,x)

0 ajinkya
1 Pawar
2 India

In [97]:
for i,x in enumerate(test.items()):
    print(i,x)

0 ('name', 'ajinkya')
1 ('surname', 'Pawar')
2 ('country', 'India')

In [100]:
seq1 = ['foo','bar','baz']
seq2 = ['one','two','three']
print('Print is',seq1+seq2)

Print is ['foo', 'bar', 'baz', 'one', 'two', 'three']

In [108]:
zipped = zip(seq1,seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [113]:
test = '200.00'
int(test)

ValueError: invalid literal for int() with base 10: '200.00'

In [117]:
a = float(test)

In [118]:
int(a)

200

In [119]:
a = 20
b = 20
if a==b: print ('is equal to')

is equal to

In [120]:
i = 1
while i<=6:
    print(i);
    i+=1

1
2
3
4
5
6

In [ ]:
i = 1
while i<6:
    print(i);
    if i==3:
        break
        i +=1

In [ ]:
i = 1
while i<6:
    print(i);
    if i==3:
        break
        i +=1

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

In [ ]:
i = 1
while i<=6:
    print(i);
    i+=1

In [ ]:
i = 1
while i < 6:
    print(i)
if i == 3:
    break
i += 1