In [1]:
a = [10,20,30,40,50,60,70]
a[1]='ajinkya'

In [2]:
a

[10, 'ajinkya', 30, 40, 50, 60, 70]

In [3]:
a.insert(1,20)

In [4]:
a

[10, 20, 'ajinkya', 30, 40, 50, 60, 70]

In [10]:
a = 'Ajinkya'
b = "Ajinkya"
if a is not b:
    print('sorry')
else:
    print('print')

print

In [12]:
if a != b:
    print('sorru')
else:
    print('jay')

jay

In [13]:
if  not isinstance(a,list) and isiterable(a):
    print('jay')

NameError: name 'isiterable' is not defined

In [14]:
a is b 
a is not b
'ajikya' in a
'ajinkya' not in b
if not isinstance(a,list):
    print('something wrong')

something wrong

In [15]:
a is b

True

In [16]:
a is not b

False

In [22]:
a is b

True

In [23]:
a is not b

False

In [24]:
a = 'ajinkya'
if 'ajinkya' not in a:
    print('hole')
else:
    print('chut')

chut

In [25]:
a = 5
b = 6
a>b and a<b

False

In [26]:
b>a and a>b

False

In [27]:
b>a or a>b

True

In [28]:
not(b>a or a>b)

False

In [29]:
if a is not b

SyntaxError: invalid syntax (<ipython-input-29-a42b3f4b03b9>, line 1)

In [30]:
5<=5

True

In [34]:
for x in range(10,20):
   if(x<13):
    print(x)

10
11
12

In [35]:
5<=6

True

In [36]:
5<5

False

In [37]:
5<=5

True

In [38]:
5>4

True

In [39]:
5>=5

True

In [65]:
sequence = [1, 2, None, 4, None, 5]
total = 0
for x in sequence:
    if  x == 2:
        continue
    print(x)

1
None
4
None
5

In [77]:
sequence = [1, 2, 0, 4, 6, 5, 2, 1]
for value in sequence:
    if value == 5:
        break
    print(value)

1
2
0
4
6

In [84]:
for x in sequence:
    print(x)
    if x == 5:
        continue
    print(x)

1
1
2
2
0
0
4
4
6
6
5
2
2
1
1

In [89]:
seq = [10, 20, 3, 4]
for i in range(len(seq)):
    val = seq[i]
    print(val)

10
20
3
4

In [90]:
seq = [10, 20, 3, 4]
for i in seq:
    print(seq)

[10, 20, 3, 4]
[10, 20, 3, 4]
[10, 20, 3, 4]
[10, 20, 3, 4]

In [95]:
seq = [10, 20, 3, 4]
for i in range(len(seq)):
    print(seq[i])

10
20
3
4

In [92]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [96]:
test = (1,[10,20,30,40],2)
test

(1, [10, 20, 30, 40], 2)

In [97]:
test[0]=10

TypeError: 'tuple' object does not support item assignment

In [109]:
test[1].append(5)

In [110]:
test

('rajan', [2, 3, 4, 5])

In [100]:
tup = tuple(['foo', [1, 2], True])

In [101]:
tup

('foo', [1, 2], True)

In [102]:
tup[1].append(3)

In [103]:
tup

('foo', [1, 2, 3], True)

In [104]:
test = ('rajan',[2,3])

In [105]:
test

('rajan', [2, 3])

In [106]:
test[1].append(4)

In [107]:
test

('rajan', [2, 3, 4])

In [112]:
for i,x in enumerate(test):
    print(i,x)

0 rajan
1 [2, 3, 4, 5]

In [116]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for i,(x,y) in enumerate(thisdict.items()):
    print(i,x,y)

0 brand Ford
1 model Mustang
2 year 1964

In [ ]:
i = 1
while i < 6:
    print(i)
i += 1

In [ ]:
i=1
while i<6:
    print(i)
i +=1

In [ ]:
i = 1
while i < 6:
    print(i)
i += 1