In [1]:
#looping

In [1]:
a = 100
print('hi') if a==100 else print('bye')
print('test')

hi
test

# #this is the test

In [ ]:
print('hi')

In [2]:
i = 1
print(i)

1

In [ ]:
i = 1
while(i<6):
    print(i)

In [ ]:
test = {'ajinkya','shivaji','pawar'}
for i,x in test:
    print(i,x)

#variable declaration

In [2]:
a = [10,20,30]
a.insert(0,200)

In [3]:
a

[200, 10, 20, 30]

In [6]:
a[1:3]

[10, 20]

In [8]:
a[-4:2]

[200, 10]

In [23]:
import datetime as dt
x = dt.datetime.now()
x.strftime('%Y')

'2020'

In [24]:
import datetime as dt
dt.datetime.now()

datetime.datetime(2020, 8, 7, 18, 40, 32, 624562)

In [42]:
import datetime as dt
x = dt.datetime.now()
x.day

7

In [43]:
a = "ajinkya"
a*2

'ajinkyaajinkya'

In [44]:
a=b=c=20
print(a)

20

In [45]:
a,b,c = 40,60,70
print(a+b+c)

170

In [49]:
a = [10,20,30,40,50,60,70]
a[1]=50

In [50]:
a = [10,20,30,40,50,60,70]
a[1]=50

In [53]:
a[4]=80
a

[10, 50, 30, 40, 80, 60, 70]

In [54]:
for x in a:
    print(x)

10
50
30
40
80
60
70

In [56]:
if 10 in a:
    print('welcome')

welcome

In [57]:
len(a)

7

In [58]:
a.append(10)

In [59]:
a

[10, 50, 30, 40, 80, 60, 70, 10]

In [60]:
a.insert(6,'jayesh')

In [61]:
a

[10, 50, 30, 40, 80, 60, 'jayesh', 70, 10]

In [62]:
a[7]=80
a

[10, 50, 30, 40, 80, 60, 'jayesh', 80, 10]

In [63]:
a = [10,20,30,40,50,60,70]

In [64]:
a[2]='ajinkya'

In [65]:
a

[10, 20, 'ajinkya', 40, 50, 60, 70]

In [66]:
a.insert(7,'RAMESH')

In [67]:
a

[10, 20, 'ajinkya', 40, 50, 60, 70, 'RAMESH']

In [68]:
a.insert(2,'SUNITA')

In [69]:
a

[10, 20, 'SUNITA', 'ajinkya', 40, 50, 60, 70, 'RAMESH']

In [70]:
a[2]=30

In [71]:
a

[10, 20, 30, 'ajinkya', 40, 50, 60, 70, 'RAMESH']

In [74]:
a

[10, 20, 30, 'ajinkya', 40, 50, 60, 70, 'RAMESH']

In [76]:
a.remove('ajinkya')

In [77]:
a

[10, 20, 30, 40, 50, 60, 70, 'RAMESH']

In [78]:
a.pop(7)

'RAMESH'

In [79]:
a

[10, 20, 30, 40, 50, 60, 70]

In [80]:
del a[0]

In [81]:
a

[20, 30, 40, 50, 60, 70]

In [82]:
del a

In [83]:
a

NameError: name 'a' is not defined