In [1]:
tweets  = [10,20,30,0]
print(id(tweets))

2196330509888

In [2]:
test = tweets

In [3]:
test is tweets

True

In [4]:
id(test)
id(tweets)

2196330509888

In [10]:
test = '''this is test 
just check and lod

'''
print(test)

this is test
just check and lod

In [11]:
test = (['ajinkya','shivaji','pawar'])
type(test)

list

In [12]:
test2 = tuple(test)

In [13]:
test2

('ajinkya', 'shivaji', 'pawar')

In [14]:
test[0]

'ajinkya'

In [17]:
test2[0] = 'shijvai'

TypeError: 'tuple' object does not support item assignment

In [23]:
student_name = ['ajinkya','shivaji','pawar']

In [25]:
for x in student_name:
    print(x)
else:
    print('see what happen here')

ajinkya
shivaji
pawar
see what happen here

In [26]:
name_of_student = 'ajinkya'

In [27]:
print('name of studnet is',name_of_student)

name of studnet is ajinkya

In [28]:
print('name of studnet is'+name_of_student)

name of studnet isajinkya

In [29]:
age = 10

In [32]:
print('age of student is'+str(age))

age of student is10

In [35]:
print('age of student is {0}'.format(age))

age of student is 10