In [1]:
i = 5
while i >= 1:
    print(i)
    i -=1

5
4
3
2
1

In [8]:
i = 1
while i <= 6:
    if i == 3:
        continue
    print(i)
    i += 1

1
2

KeyboardInterrupt:

In [ ]:
i = 0
while i < 6:
    i += 1
    if i == 3:
        continue
    print(i)

In [ ]:
i = [10,20,30,40]
for x in i:
    if x == 20:
        break
        print(x)

In [2]:
i = [10,20,30,40]
for x in i:
    if x == 20:
        break
        print(x)

In [10]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == 'banana':
        break
    print(x)

apple

In [15]:
x = 10

if x < 0:
    print('negative!')
elif x == 0:
# TODO: put something smart here
   pass
else:
    print('positive!')

positive!

In [20]:
str = 'Python program'
print(str*4)

Python programPython programPython programPython program

In [22]:
5**3

125

In [24]:
a = 'ajinkya'
a = 'ramesh'
a = 'satish'

In [29]:
a = 6
a = a + 2
a = a -1
a

7

In [39]:
a = 6
a += 2
a

8

In [43]:
a = a/2
a

2.0

In [44]:
names = ['rajesh','sandesh','ajinkya','sunita','sandesh','pawar']

In [45]:
names[1]

'sandesh'

In [46]:
names

['rajesh', 'sandesh', 'ajinkya', 'sunita', 'sandesh', 'pawar']

In [52]:
names[-4:-1]

['ajinkya', 'sunita', 'sandesh']

In [53]:
days = ['sunday','monday','tuesday','thursday']

In [54]:
days

['sunday', 'monday', 'tuesday', 'thursday']

In [55]:
days.insert(3,'wednesday')

In [56]:
days

['sunday', 'monday', 'tuesday', 'wednesday', 'thursday']

In [57]:
days[3] = 'friday'

In [58]:
days

['sunday', 'monday', 'tuesday', 'friday', 'thursday']

In [59]:
days = [10,20,('rajesh','suresh')]
days[2] = ('kartik','angha')

In [60]:
days

[10, 20, ('kartik', 'angha')]

In [61]:
test = (10,20,[40,50])
test[2].append(60)

In [80]:
test = tuple(test[2])
test

IndexError: tuple index out of range

In [91]:
test = [10,20,30]
test1 = ['as','raj','sat']
print([test,test1])
print(test+test1)
test2= (10,20,30,0)
test4 = ('raj','sangit')
print(test2+test4)

[[10, 20, 30], ['as', 'raj', 'sat']]
[10, 20, 30, 'as', 'raj', 'sat']
(10, 20, 30, 0, 'raj', 'sangit')

In [94]:
test = (10,'ajinkya',30)
test100 = ('shinde','shivaji','pawar')

In [110]:
zipped = dict(zip(test,test100))
zipped

{10: 'shinde', 'ajinkya': 'shivaji', 30: 'pawar'}

In [111]:
test1 = [('ajinkya',45),('test100',45)]

In [112]:
dict(test1)

{'ajinkya': 45, 'test100': 45}

In [116]:
tester = {'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [118]:
tester[4] = [10,20,30]

In [119]:
tester

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 4: [10, 20, 30]}

In [121]:
tester[2] = 'ram'

In [122]:
tester

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 4: [10, 20, 30], 2: 'ram'}

In [123]:
age = [10,20,30,40]
name = ['ajinkya','jayesh','rajesh','suresh']
age+name

[10, 20, 30, 40, 'ajinkya', 'jayesh', 'rajesh', 'suresh']

In [141]:
test = list(zip(age,name))
for x,y in test:
    print(y)

ajinkya
jayesh
rajesh
suresh