In [5]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
test = [10,20,30]

In [6]:
for x in range(len(test)):
    print(test[x])

10
20
30

In [10]:
for i,(x,y) in enumerate(thisdict.items()):
    print(i,x,y)

0 brand Ford
1 model Mustang
2 year 1964

In [20]:
seq = [1,2,3,4]
seq2 = ('rajesh','jayesh','suresh','dinesh')
seq3 = {100,80,90}
zipped = zip(seq,seq2,seq3)

In [21]:
zazk = list(zipped)

In [24]:
zazk[0][1]

'rajesh'

In [29]:
test14,test15 = zip(*zipped)

ValueError: not enough values to unpack (expected 2, got 0)

In [26]:
test14

In [34]:
test = list(range(0,10,2))

In [35]:
test

[0, 2, 4, 6, 8]

In [37]:
test2  =test.sort()

In [38]:
test2

In [39]:
a,b,c = 70,80,90

In [40]:
a

70

True

In [42]:
test = [10,20,30,40,(50,60)]

In [48]:
type(test)

list

In [59]:
x = test.sort
x
test.reverse()
test

[10, 20, 30, 40, (50, 60)]

In [55]:
a = [7, 2, 5, 1, 3]
a.sort()

In [63]:
b = [45,90,78,32,56,22,45]
b.sort()
b

[22, 32, 45, 45, 56, 78, 90]

In [64]:
a = 50
b = a

In [65]:
b

50

In [66]:
a

50

In [71]:
ramesh = {10,30,40,50}
{tuple(ramesh)}

{(40, 10, 50, 30)}

In [72]:
for x in ramesh:
    print(x)

40
10
50
30

In [73]:
type(ramesh)

set

In [74]:
list(ramesh)

[40, 10, 50, 30]

In [81]:
(list(ramesh))
len(ramesh)

4

In [87]:
test = [10,20,40,50,70,80,90]
string = ['ajinkya','pawar']

In [94]:
[x.upper() for x in string if len(x) > 2]

['AJINKYA', 'PAWAR']

In [96]:
[x.upper() for x in string if 'ajinkya' in x]

['AJINKYA']

In [97]:
test = [10,20,40,50,70,80,90]
[print(x) for x  in test if 10 in x]

TypeError: argument of type 'int' is not iterable

In [113]:
[len(x) for x in test if len(x) > 7]

TypeError: object of type 'int' has no len()

In [109]:
ram = {
    'name':'ajinkya',
    'surnam':'pawar'
}
[print(x,y) for x in ram if 'name' in ram]

name 1964
surnam 1964

[None, None]

In [135]:
test99 = {'jayesh','suresh','ramesh'}
print('jayesh' in test99)
result = {len(x) for x in test99}
result
unique_lengths = {len(x) for x in string}

True

In [125]:
test100 = [10,30,50,6070,80]
[len(test100) for x in test100 ]

[5, 5, 5, 5, 5]

In [129]:
test101 = [101,102,103]
[len(test101) for x in test101]
[len(test101) for x in test101 if 101 in x ]

TypeError: argument of type 'int' is not iterable

In [131]:
{len(x) for x in 101}

TypeError: 'int' object is not iterable

In [137]:
x = [1,2,4,17,18,20]
[print(xyz) for xyz in x if xyz % 2 == 0 ]

2
4
18
20

[None, None, None, None]

In [138]:
name  = ['ajinkya','jayesh','ritesh']
[print(tset) for tset in name if name ]

ajinkya
jayesh
ritesh

[None, None, None]

In [5]:
name = ['ajinkya','shivaji','pawar']
x = [set(name)]

In [10]:
for test in x:
    print(test)

{'shivaji', 'ajinkya', 'pawar'}

In [11]:
test = {'ajinkya','ram','satish'}
for x in test:
    print(x)

satish
ajinkya
ram

In [12]:
first = ['jitesh','satish','ajinkya']
first2 = (10,20,30,40)
first3 = {'dog','cat','tiger','lion'}
first+first2+first3

TypeError: can only concatenate list (not "tuple") to list

In [23]:
zipped = dict(zip(first,first2))

In [24]:
zipped

{'jitesh': 10, 'satish': 20, 'ajinkya': 30}

In [21]:
for x in zipped:
    print(x)

('jitesh', 10, 'cat')
('ajinkya', 30, 'dog')
('satish', 20, 'tiger')

In [25]:
input_list = [1, 2, 3, 4, 4, 5, 6, 7, 7] 
[x for x in input_list if x%2==0]

[2, 4, 4, 6]

In [26]:
[x**2 for x in range(1,10)]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
i = 0
while i <4 :
    print(i)
  i += 1

In [2]:
name = ['ajinkya','shivaji','pawar']
[x for x in name if 'ajinkya' in x]

['ajinkya']

In [7]:
[x.capitalize() for x in name if len(x)>5]

['Ajinkya', 'Shivaji']

In [8]:
love = ('ashwini','poonam','pallavi','shweta','shivani')
type(love)

tuple

In [25]:
{x.upper() for x in love if 'shivani' in x}

{'SHIVANI'}

In [24]:
num = [10,13,15,28,21,18,30,20,25]
{x for x in num if x%3==0}

{15, 18, 21, 30}

In [26]:
chindi = {'india','israel','russia','america','africa'}
type(chindi)

set

In [31]:
{x.upper() for x in chindi if len(x)>4}

{'AFRICA', 'AMERICA', 'INDIA', 'ISRAEL', 'RUSSIA'}

In [32]:
tuples = [('ram','sita'),(10,20,30)]

In [33]:
type(tuples)

list

In [35]:
tuples[0] = ['ganesh',1]

In [36]:
tuples

[['ganesh', 1], (10, 20, 30)]

In [38]:
tuples[0].append(2)

In [39]:
tuples

[['ganesh', 1, 2], (10, 20, 30)]

In [41]:
input_list = [1, 2, 3, 4, 5, 6, 7] 
{x:x*2 for x in input_list if x%2==0}

{2: 4, 4: 8, 6: 12}

In [42]:
state = ['Gujarat', 'Maharashtra', 'Rajasthan'] 
capital = ['Gandhinagar', 'Mumbai', 'Jaipur'] 
zip(state,capital)

In [57]:
{key:value for (key,value) in zip(state,capital)}

{'Gujarat': 'Gandhinagar', 'Maharashtra': 'Mumbai', 'Rajasthan': 'Jaipur'}

In [65]:
test101 = (100,200,30)
teset102 = (400,500,600)
test103 = (700,658,998)
zipped = set(zip(test101,teset102,test103))
zipped

{(30, 600, 998), (100, 400, 700), (200, 500, 658)}

In [70]:
test500 = [[100,200],[300,400]]
test600 = [50,60,70]
tuple(test500)
test1000 = test500+test600
test1000[1] = (400,300)

In [71]:
test1000

[[100, 200], (400, 300), 50, 60, 70]

In [115]:
input_list = [1, 2, 3, 4, 4, 5, 6, 7, 7] 
#input_list.count(2)
out = (x for x in input_list if x>=3)
for x in out:
    print(x,end = ' ')

3 4 4 5 6 7 7

In [127]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],
 ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]
for x in all_data:
    for y in x:
        if y.count('John') >=1:
            print(y)
#[y for x in all_data for y in x if y.count('e') >=2]

John

In [128]:
test = [10,20,30]
test20 = (10,203,303,404)

In [141]:
abc = test.extend(test20)

In [4]:
test1 = [10,20,30,40]
[x for x in test1 if x%3==0]

[30]

In [5]:
i = 0
while i < 4:
    print(i)
    i+=1

0
1
2
3

In [ ]:
i = 0
while i < 4:
    print(i)
    i+=1