In [1]:
3 + 4

7

In [2]:
4 * 3

12

In [3]:
5*3

15

In [4]:
5/2

2.5

In [5]:
5//2

2

In [6]:
5%2

1

In [7]:
3%4

3

In [8]:
range(0,10)

range(0, 10)

In [9]:
a = range(0,10)

In [10]:
a

range(0, 10)

In [11]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [13]:
for (i=0;i>4;i++)
{
    console.log(i);
}

SyntaxError: invalid syntax (<ipython-input-13-d311b32e4745>, line 1)

In [14]:
marks = int(input("Enter the marks:"))  
if(marks>=90):  
    print("Excellent")  
elif(marks<90 and marks>=75):  
    print("Very Good")  
elif(marks<75 and marks>=60):  
    print("Good")  
else:  
    print("Average")

Enter the marks:50
Average

In [5]:
a  = 20

In [6]:
a

20

In [13]:
if a == 20:
    print("welcome man")

welcome man

In [14]:
a is b

NameError: name 'b' is not defined

In [15]:
a = 20
b = 30

In [16]:
a == b

False

In [17]:
a is b

False

In [18]:
x=y=z=30

In [19]:
x y z

SyntaxError: invalid syntax (<ipython-input-19-013642d2eb3e>, line 1)

In [20]:
x

30

In [21]:
y

30

In [22]:
a = 20 ;b = 50; c=5

In [23]:
print(a+b)

70

In [24]:
a = 50

In [25]:
b = a

In [26]:
a

50

In [27]:
b

50

In [28]:
a = 30

In [29]:
b

50

In [30]:
a = [20,30,40,50]

In [31]:
a

[20, 30, 40, 50]

In [32]:
a = b

In [33]:
a

50

In [34]:
a = [20,30,40,50]

In [35]:
b = a

In [36]:
b

[20, 30, 40, 50]

In [37]:
b.append(60)

In [38]:
a

[20, 30, 40, 50, 60]

In [39]:
'5'+5

TypeError: can only concatenate str (not "int") to str

In [40]:
int(5)+5

10

In [41]:
a = 4.5
b = 2

In [42]:
print('a is {0}, b is {1}'.format(type(a), type(b)))

a is <class 'float'>, b is <class 'int'>

In [43]:
format(a)

'4.5'

In [44]:
type(a)

float

In [45]:
format(type(a))

"<class 'float'>"

In [46]:
{0}

{0}

In [47]:
isinstance(a,float)

True

In [48]:
isinstance(b,float)

False

In [49]:
isinstance(a,[float,integer])

NameError: name 'integer' is not defined

In [50]:
isinstance(a,float)

True

In [51]:
isinstance(a,(float,integer))

NameError: name 'integer' is not defined

In [54]:
isinstance(a, (int))

False

In [53]:
isinstance(b, (int, float))

True

In [55]:
a.is_integer;

In [56]:
a = 'Ajinkya Shivaji Pawar'

In [57]:
type(a)

str

In [58]:
isinstance(a,string)

NameError: name 'string' is not defined

In [59]:
isinstance(a,str)

True

In [60]:
a == str

False

In [61]:
a == type(str)

False

In [62]:
isinstance(a,int)

False

In [63]:
a == 20

False

In [64]:
a is 20

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-64-650e9568a70e>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  a is 20

False

In [65]:
a = 'Ajinkya Shivaji Pawar'

In [66]:
len(a)

21

In [67]:
a[0:10]

'Ajinkya Sh'

In [69]:
a[:20]

'Ajinkya Shivaji Pawa'

In [70]:
a.capitalize

In [72]:
a.capitalize()

'Ajinkya shivaji pawar'

In [74]:
a.center()

TypeError: center expected at least 1 argument, got 0

In [75]:
a.index()

6

In [76]:
a.isupper()

False

In [77]:
 name = "AJINKYA SHIVAJI PAWAR" #this is the variable declaration

In [79]:
name*2

'AJINKYA SHIVAJI PAWARAJINKYA SHIVAJI PAWAR'

In [80]:
name_2 = "would like to join something that u never expect"

In [81]:
name + name_2

'AJINKYA SHIVAJI PAWARwould like to join something that u never expect'

In [83]:
list = [10,20,30]

In [84]:
list

[10, 20, 30]

In [85]:
print(list)

[10, 20, 30]

In [86]:
type(list)

list

In [87]:
list[0]

10

In [88]:
list[1:2]

[20]

In [89]:
list[2]

30

In [90]:
s =  '''''A multiline 
string''' 
print(s)

''A multiline
string

In [91]:
getattr(a, 'split')

In [92]:
a

'Ajinkya Shivaji Pawar'

In [93]:
a.split()

['Ajinkya', 'Shivaji', 'Pawar']

In [94]:
a.split()

['Ajinkya', 'Shivaji', 'Pawar']

In [95]:
a.split("")

ValueError: empty separator

In [96]:
isiterable(5)

NameError: name 'isiterable' is not defined

In [97]:
def isiterable(obj):
try:
iter(obj)
return True
except TypeError: # not iterable
return False

IndentationError: expected an indented block (<ipython-input-97-b4f06dd2b0b4>, line 2)

In [98]:
a = [1, 2, 3]

In [99]:
b = a

In [100]:
c = list(a)

TypeError: 'list' object is not callable

In [101]:
c = list(a)

TypeError: 'list' object is not callable

In [102]:
a = "rajesh"

In [103]:
c = """
This is a longer string that
spans multiple lines
"""

In [104]:
c.count('\n')

3

In [105]:
c.count()

TypeError: count() takes at least 1 argument (0 given)

In [106]:
c.count('n')

4

In [107]:
a

'rajesh'

In [108]:
a[2]='b'

TypeError: 'str' object does not support item assignment

In [109]:
a = 'ajinkya shivaji rao'

In [110]:
a.replace('rao','pawar')

'ajinkya shivaji pawar'

In [111]:
s = '3.14159'

In [112]:
type(s)

str

In [113]:
isinstance(s,str)

True

In [114]:
isinstance(s,(str,float))

True

In [115]:
int(s)

ValueError: invalid literal for int() with base 10: '3.14159'

In [116]:
float(s)

3.14159

In [117]:
bool(s)

True

In [118]:
int(s)

ValueError: invalid literal for int() with base 10: '3.14159'

In [119]:
a = '3'

In [120]:
float(a)

3.0

In [121]:
int(a)

3

In [122]:
a = 4.35

In [123]:
int(a)

4

In [124]:
a = '4.35'

In [127]:
a = float(a)

In [128]:
a

4.35

In [129]:
int(a)

4

In [130]:
c = '2.5'

In [131]:
int(c)

ValueError: invalid literal for int() with base 10: '2.5'

In [132]:
c = 2

In [133]:
float(c)

2.0

In [149]:
C = None
C is None

True

In [150]:
c is not None

True

In [151]:
a = None
 a is None

IndentationError: unexpected indent (<ipython-input-151-4a56ac24e3fa>, line 2)

In [152]:
a = 5

In [153]:
a is 5

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-153-80e6b7447efe>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  a is 5

True

In [154]:
a is not 5

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-154-ceb0796d34a2>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  a is not 5

False

In [155]:
a is not 6

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-155-eb31a35c1949>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  a is not 6

True

In [156]:
a = None

In [157]:
a is not None

False