In [1]:
a,b,c = 20,30,40

In [5]:
print(a)

20

In [6]:
import datetime as dt
dt.day

AttributeError: module 'datetime' has no attribute 'day'

In [7]:
import datetime as dt
dt.date()

TypeError: function missing required argument 'year' (pos 1)

In [13]:
from datetime import datetime, date, time

In [14]:
dt = datetime(2011, 10, 29, 20, 30, 21)

In [15]:
dt.day

29

In [16]:
import datetime as dt

In [18]:
datetime(2011, 10, 29, 20, 30, 21)

datetime.datetime(2011, 10, 29, 20, 30, 21)

In [19]:
dt.day

AttributeError: module 'datetime' has no attribute 'day'

In [2]:
a=20;b=30;c=10

In [3]:
a

20

In [5]:
int("10")+20

30

In [6]:
id(a)

140711066286464

In [7]:
id(b)

140711066286784

In [8]:
a==b

False

In [9]:
a is b

False

In [10]:
a = b = 20

In [11]:
id(a)
id(b)

140711066286464

In [12]:
 a is b

True

In [13]:
a = [10,20,30,40,50]
b = [10,20,30,40,50]
id(a)
id(b)

2434715581952

In [14]:
a is b

False

In [15]:
id(b)

2434715581952

In [16]:
id(a)

2434715580608

In [17]:
a = "4.2"

In [18]:
int(a)

ValueError: invalid literal for int() with base 10: '4.2'

In [21]:
a = float(a)

In [22]:
int(a)

4

In [23]:
a = "ajinkya shivaji pawar"
a.split()

['ajinkya', 'shivaji', 'pawar']

In [24]:
a = "ajinkya shivaji pawar"
a.split("")

ValueError: empty separator

In [26]:
a.index('a')

0

In [27]:
a.index('j')

1

In [28]:
no = 25
#the age of the student write here
print("the age of the is"+no)

TypeError: can only concatenate str (not "int") to str

In [29]:
print('the age of the student is {}'.format(no))

the age of the student is 25

In [30]:
name = "Right wing\'s"

In [31]:
print (name)

Right wing's

In [32]:
name = "Right wing\'s"

In [33]:
a = [10,20,30]
id(a)

2434716828096

In [34]:
b = a

In [35]:
id(b)

2434716828096

In [36]:
a is b

True

In [37]:
b = [10,20,30]
id(b)

2434729017856

In [38]:
a is b

False

In [39]:
a is not b

True

In [40]:
a = 1
a +=1
print(a)

2

In [41]:
a ,b,c = 20,30,40
print(a,b,c)

20 30 40

In [42]:
print('the no is'+a+b+c)

TypeError: can only concatenate str (not "int") to str

In [43]:
print("the no is {1} and {0} and {2}".format(a,b,c))

the no is 30 and 20 and 40

In [44]:
print("the no is {1} and {0:.2f} and {2:s}".format(a,b,c))

ValueError: Unknown format code 's' for object of type 'int'

In [46]:
print("the no is {1} and {0:.2f} and {2:d}".format(a,b,c))

the no is 30 and 20.00 and 40

In [50]:
a = "ajinkya shivaji pawar"
'shiva' in a

True

In [51]:
a = [20,30,40]
20 in a

True

In [52]:
a[0]=30

In [53]:
a

[30, 30, 40]

In [54]:
test = "python"
test[0]='t'

TypeError: 'str' object does not support item assignment

In [55]:
check = [10,0,30,(30,40)]

In [56]:
check #tuples & string  never been modified (immuatable )

[10, 0, 30, (30, 40)]

In [57]:
check(3,0)

SyntaxError: cannot assign to function call (<ipython-input-57-9c5b5d72a94a>, line 1)

In [59]:
check(3)=(20,40)

SyntaxError: cannot assign to function call (<ipython-input-59-e44bcc57ddf0>, line 1)

In [60]:
 test = [10,20,[40,50]] #list is only working to add the list

In [61]:
test[2] = (30,4)

In [62]:
test

[10, 20, (30, 4)]

In [69]:
#date time concept starts here 
import datetime 
datetime.datetime.now()

datetime.datetime(2020, 8, 4, 13, 9, 11, 651065)

In [73]:
import datetime as dt
x = dt.datetime.now()
print(x)
x.year

2020-08-04 13:09:45.039318

2020

In [79]:
print(x.strftime("%B"))

August

In [80]:
x.strftime("%a")

'Tue'

In [81]:
import datetime as dt
dt.datetime()

TypeError: function missing required argument 'year' (pos 1)

In [85]:
x = dt.datetime.now().year()

2020

In [86]:
x.strftime("%b")

'Aug'

In [89]:
#here start the tuples 
a = ("apple", "banana", "cherry")
a

('apple', 'banana', 'cherry')

In [90]:
a[0]

'apple'

In [91]:
b = list(a)
b[0] = "kela"
a = tuple(b)

In [92]:
a

('kela', 'banana', 'cherry')

In [98]:
#creating sets
this= {'ramesh',10,'suresh'}

In [97]:
for x in test:
    print(x)

10
20
(30, 4)