In [2]:
#test the skills of python
a = 'Ajinkya Shivaji Pawar'
a*2

'Ajinkya Shivaji PawarAjinkya Shivaji Pawar'

In [3]:
#list is collection of orderlist of items .which is mutable and accept the duplicate value also
test = [10,20,30]
#accessing the list items
test[0]

10

In [4]:
#slicing the list suing start and stop 
test[0:2]

[10, 20]

In [7]:
test[-1]

30

In [10]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
thislist[-4:-1]

['orange', 'kiwi', 'melon']

In [11]:
thislist[4]

'kiwi'

In [12]:
thislist[:4]

['apple', 'banana', 'cherry', 'orange']

In [13]:
thislist[2:]

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [14]:
thislist[-7:-3]

['apple', 'banana', 'cherry', 'orange']

In [15]:
'apple' in thislist

True

In [19]:
#how to add the other item in list using append and insert in list
thislist.append(['kela','chiku'])

In [20]:
thislist

['apple',
 'banana',
 'cherry',
 'orange',
 'kiwi',
 'melon',
 'mango',
 ['kela', 'chiku'],
 ['kela', 'chiku'],
 ['kela', 'chiku']]

In [21]:
thislist

['apple',
 'banana',
 'cherry',
 'orange',
 'kiwi',
 'melon',
 'mango',
 ['kela', 'chiku'],
 ['kela', 'chiku'],
 ['kela', 'chiku']]

In [23]:
thislist.insert(7,'papaya')

In [24]:
thislist

['apple',
 'banana',
 'cherry',
 'orange',
 'kiwi',
 'melon',
 'mango',
 'papaya',
 ['kela', 'chiku'],
 ['kela', 'chiku'],
 ['kela', 'chiku']]

In [26]:
thislist.remove(['kela', 'chiku'])

In [27]:
thislist

['apple',
 'banana',
 'cherry',
 'orange',
 'kiwi',
 'melon',
 'mango',
 'papaya',
 ['kela', 'chiku'],
 ['kela', 'chiku']]

In [28]:
thislist.remove(['kela', 'chiku'])

In [29]:
thislist

['apple',
 'banana',
 'cherry',
 'orange',
 'kiwi',
 'melon',
 'mango',
 'papaya',
 ['kela', 'chiku']]

In [30]:
thislist.remove(['kela', 'chiku'])

In [31]:
thislist

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'papaya']

In [33]:
thislist.insert(8,'kakadi')

In [34]:
thislist

['apple',
 'banana',
 'cherry',
 'orange',
 'kiwi',
 'melon',
 'mango',
 'papaya',
 'kakadi']

In [35]:
thislist

['apple',
 'banana',
 'cherry',
 'orange',
 'kiwi',
 'melon',
 'mango',
 'papaya',
 'kakadi']

In [37]:
thislist[0:7]

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [38]:
thislist.pop(8)

'kakadi'

In [40]:
del thislist[7]

In [41]:
#tuple is an orderlist of collection of items but tuple not mutable means its (immutable) duplicate allowed in tuple

In [42]:
test3 = (10,0,30)
test3

(10, 0, 30)

In [43]:
test[2]

30

In [44]:
for x in test3:
    print(x)

10
0
30

In [45]:
thisset = {"apple", "banana", "cherry"}
for x in thisset:
    print(x)

cherry
apple
banana

In [46]:
thisset.add({'kela','papaya'})

TypeError: unhashable type: 'set'

In [47]:
thisset.add('papaya')

In [49]:
thisset.update(['kela','papaya'])

In [50]:
thisset.update({'kalingad','wang'})

In [51]:
thisset

{'apple', 'banana', 'cherry', 'kalingad', 'kela', 'papaya', 'wang'}

In [52]:
#string illetrate

In [57]:
a = 20
b = 'ajinkya'
print('my name is {0:d} and age is {1:s}'.format(a,b))

my name is 20 and age is ajinkya

In [58]:
print('my name is {0:d} and age is {1:s} ')

my name is {0:d} and age is {1:s}

In [70]:
import datetime as dt
x = dt.datetime.now()
print(x)
x.strftime("%B")

2020-08-04 19:43:40.429634

'August'

In [72]:
age = 20
if age >= 20:
    print('welcome to zavadigiri')

welcome to zavadigiri

In [83]:
num1 = input('Enter first number: ')
num2 = input('Enter second number: ')
 
# Add two numbers
sum = float(num1) + float(num2)
 
# Display the sum
print('The sum of {0} and {1} is {2}'.format(num1, num2, sum))

Enter first number: 20
Enter second number: 30
The sum of 20 and 30 is 50.0

In [86]:
num1 = input('Enter ur First No')
num2 = input('Enter ur second No')
total = int(num1)+int(num2)
print('the total value of {0} {1} and {2}'.format(num1,num2,total))

Enter ur First No20
Enter ur second No20
the total value of 20 20 and 40

In [87]:
a = 20
print('the no age is'+a)

TypeError: can only concatenate str (not "int") to str

In [89]:
b = format(a)

In [90]:
type(b)

str

In [92]:
print('the age is {0}'.format(a))

the age is 20

In [97]:
num1 = int(input('Enter Ur First No'))
num2 = int(input('Enter Ur Second No'))
result = num1 + num2
print("{0} + {1} = {2}".format(num1,num2,result))

Enter Ur First No20
Enter Ur Second No20
20 + 20 = 40

In [106]:
num = int(input('no is'))
if(num%2==0):
   print('no is divisible by 2');
if(num%3==0):
    print('no is divisible by 3 also');
else:
    print('no is not divisible by 2');

no is12
no is divisible by 2
no is divisible by 3 also

In [133]:
num = int(input('no is'))
if(num%2==0):
    print('no is divisible by 2');
    if(num%3==0 or num%5 ==0):
        if(num%3==0):
            print('no is divisible bye 3');

no is9

In [138]:
num = int(input('enter no'))
if(num%2==0):
        print('no is divisible by 2');
        elif(num%3==0 ):
           print('no divisible by 3')

SyntaxError: invalid syntax (<ipython-input-138-56f83dcbeff1>, line 4)

In [1]:
test19 = [10,20,30]
test19[0] = 20

In [2]:
test19

[20, 20, 30]

In [3]:
test19.append(40)

In [4]:
test19.insert(2,50)

In [5]:
test19

[20, 20, 50, 30, 40]

In [6]:
test20 = tuple(test19)

In [7]:
type(test20)

tuple

In [8]:
x = list(test20)

In [9]:
x[0] = 'ajinkya'

In [10]:
x

['ajinkya', 20, 50, 30, 40]

In [11]:
test20 = tuple(x)

In [12]:
test20

('ajinkya', 20, 50, 30, 40)

In [13]:
test20.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [15]:
test21 = list(test20)

In [16]:
test21

['ajinkya', 20, 50, 30, 40]

In [17]:
test21.pop(4)

40

In [18]:
test21

['ajinkya', 20, 50, 30]

In [24]:
num1 = int(input('Please Enter Ur No'))
num2 = int(input('Please Enter Ur No'))
result = num1 + num2
print('Entered No is {0} and {1} Sum is {2}'.format(num1,num2,result))

Please Enter Ur No20
Please Enter Ur No20
Entered No is 20 and 20 Sum is 40

In [25]:
5>5

False

In [26]:
5=5

SyntaxError: cannot assign to literal (<ipython-input-26-716d4afe7cec>, line 1)

In [27]:
5==5

True

In [28]:
5 >=5

True

In [29]:
age = int (input("Enter your age? "))  
if age>=18:  
    print("You are eligible to vote !!");  
else:  
    print("Sorry! you have to wait !!");

Enter your age? 12
Sorry! you have to wait !!

In [30]:
age = int(input('Enter Ur Age'))
if(age >= 18):
    print('Ur ung now');
else:
    print('ohh sorry ur baccha right');

Enter Ur Age12
ohh sorry ur baccha right

In [ ]:
num = int(input('Enter Ur No'))
if(num %2 ==0):
    print('divisible by2')

In [ ]:
num = int(input('Enter Ur No'))
if(num%2 ==0):
    print('divisible by2')

In [ ]:
num = int(input('Enter Ur No'))
print('Enter no')